.button {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button.primary {
    background: var(--primary);
    border: 2px solid var(--primary);
}

.button.primary:hover, .button.primary:focus, .button.primary.outlined {
    background: #fff;
    color: var(--primary);
}

.button.primary.outlined:hover, .button.primary.outlined:focus {
    color: #ffffff;
    background: var(--primary);
}

.button.secondary {
    background: var(--secondary);
    border: 2px solid var(--secondary);
}

.button.secondary:hover, .button.secondary:focus, .button.secondary.outlined {
    background: #fff;
    color: var(--secondary);
}

.button.secondary.outlined:hover, .button.secondary.outlined:focus {
    color: #ffffff;
    background: var(--secondary);
}
