.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(235, 237, 240);
    background: #fff;
}

.wrapper p {
    margin: 0;
}

.header {
   
}

.headerColumn {
    padding: 10px;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerColumn p {
    font-weight: bold;
}

.body {

}

.row {
    display: flex;
}

.row:nth-child(odd) {
    background-color: #f3f3f3;
}

.column {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.column:first-child {
    width: 20%;
}

.column:not(:first-child) button {
    padding: 5px 10px;
    border-radius: 4px;
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff;
}

.column:not(:first-child) button:hover {
    background: #fff;
    color: #007bff;
    cursor: pointer;
}

.colorIcon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.bookingButton:hover {
    background: #fff!important;
    color: #000!important;
}